.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  

  .slider {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .sliderItem {
    width: 25%;
    height: 100px;
    display: inline-block;
  
  }